body {
  background-color: #191970;
  background-size: cover;
  background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

.weather-popup {
  border: dotted white;
  border-radius: 1%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  height: 400px;
  position: relative;
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.weather-popup-background-blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 400px;
  width: 400px;
}

.city {
  font-size: 2em;
}

.temp {
  font-size: 2.3em;
}

.extra-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input[type="text"] {
  background-image: url("./images/search.png");
  background-position: 4px 2px;
  background-repeat: no-repeat;
  border: 2px solid darkblue;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px 20px 13px 60px;
}

.content-wrapper{
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
}

.background-wrapper{
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
min-height: 700px;
}

button{
background-color: darkblue;
border: 2px solid darkblue;
color: white;
font-size: 2em;
padding: 5px;
}

button:hover{
  background-color: white;
  color: darkblue;
  font-size: 2em;
  padding: 5px;
  }